

 
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
 ul li{
     list-style: none;
 }
 .topbar{
     background-color: #316dc3;
     padding: 10px;
     color: white;
 }

.topbar i{
    margin: 0 8px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.social {
    float: left;
    margin-left: auto;
}


.head-buttons {
    float: right;
    margin-right: auto;
}

.moto {
    float: left;
    margin-left: 120px;
}

.clear{
    clear: both;
}


/* Style the navigation menu */
/* .navbar {
    width: 100%;
    height: 50%;
    background-color: #555;
    overflow: auto;
  } */


/* Add a background color on mouse-over */
.collapse a:hover {
    background-color: #316dc3;
    border-radius: 25px;
    float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: auto;
  /* width: auto; Four links of equal widths */
  text-align: center;
  }
  .navbar-brand{
      float: left;
  }
  
  h1.main-title{
      color: #316dc3;
      margin: 20px 0;
  }

  .second-color{
      color: #8dc63f;
  }


  .* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: #316dc3;
}

.fa {font-size:50px;}

p.b { 
    word-spacing: 30px;
  }

  p.c {
    word-break: break-all;
  }


  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}